@using Autorepair.DataObjects
@using Autorepair.Models

@model RequirementModel
@* For admin check the requrirments *@
<div class="adminBody">
    <div class="logOff">
        <div onclick='location.href="@Url.Action("Logoff", "Home")"' class="btn buttonContactUs">
            Odhlásit!
        </div>
    </div>
    <table class="adminTable tableContent">
        <thead class="tableContentHeader">
            <tr>
                <th>ID</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Email</th>
                <th>Brand</th>
                <th>Rok výroby</th>
                <th>Objem motoru</th>
                <th>Typ motoru</th>
                <th>Popis problému</th>
                <th>Stav zakázky</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (RequirmentDO pageContent in ViewBag.Requirments)
                {
                    int? year = null;
                    if (pageContent.RequirmentsYearOfMade != null) { year = pageContent.RequirmentsYearOfMade.Value.Year; };
                    <tr>
                        <td class="contentText">@pageContent.RequirmentsID</td>
                        <td class="contentText">@pageContent.RequirmentsFirstName</td>
                        <td class="contentText">@pageContent.RequirmentsLastName</td>
                        <td class="contentText">@pageContent.RequirmentsEmail</td>
                        <td class="contentText">@pageContent.RequirmentsBrand</td>
                        <td class="contentText">@year</td>
                        <td class="contentText">@pageContent.RequirmentsEngineCapacity</td>
                        <td class="contentText">@pageContent.RequirmentsTypeOfEngine</td>
                        <td class="contentText">@pageContent.RequirmentsDescriptionOfProblem</td>
                        <td class="contentText">@pageContent.RequirmentsStatus</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @using (Html.BeginForm("UpdateRequirment", "Home", FormMethod.Post))
    {

        <div class="form-group row fromComponent">
            @Html.LabelFor(m => m.Status, new { @class = "form-control input-sm col-3 formLabel contentText" })
            @Html.TextBoxFor(m => m.Status, new { @class = "form-control input-sm col-6" })
        </div>

        <div class="form-group row fromComponent">
            @Html.LabelFor(m => m.ID, new { @class = "form-control input-sm col-3 formLabel contentText" })
            @Html.TextBoxFor(m => m.ID, new { @class = "form-control input-sm col-6" })
        </div>


        <div class="form-group row justify-content-center contentText fromComponent">
            <input type="submit" value="Odeslat" class="btn btn-default" />
        </div>
    }
</div>


