@using Autorepair.Models

@model RequirementModel

@{
    ViewBag.Title = "Kontakt";
}
<h2 class="contentText">@ViewBag.Title</h2>

<address class="contentText">
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address class="contentText">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h2 class="contentText text-center">Máte zájem o naše služby?</h2>
<p class="contentText text-center">Vyplňte nám dotazník a my se Vám napíšem!</p>
<div id="ajaxReplace">

    @using (Ajax.BeginForm("ContactUs", "Home", null, new AjaxOptions { UpdateTargetId = "ajaxReplace" }))
    {

        <h3 class="text-center sendMessage">@ViewBag.Message</h3>

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "Části formuláře jsou špatně:", "p");

        <div class="form-group row justify-content-center fromComponent">
            @Html.LabelFor(m => m.FirstName, new { @class = "form-control input-sm col-3 formLabel contentText" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-sm col-6" })
            @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "col-8 contentText" })
        </div>

        <div class="form-group row justify-content-center fromComponent">
            @Html.LabelFor(m => m.LastName, new { @class = "form-control input-sm col-3 formLabel contentText" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-sm col-6" })
            @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "col-8 contentText" })
        </div>

        <div class="form-group row justify-content-center fromComponent">
            @Html.LabelFor(m => m.Email, new { @class = "form-control input-sm col-3 formLabel contentText" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm col-6" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "col-8 contentText" })
        </div>

        <div class="form-group row justify-content-center fromComponent">
            @Html.LabelFor(m => m.Brand, new { @class = "form-control input-sm col-3 formLabel contentText" })
            @Html.TextBoxFor(m => m.Brand, new { @class = "form-control input-sm col-6" })
        </div>

        <div class="form-group row justify-content-center fromComponent">
            @Html.LabelFor(m => m.YearOfMade, new { @class = "form-control input-sm col-3 formLabel contentText" })
            @Html.TextBoxFor(m => m.YearOfMade, new { @class = "form-control input-sm col-6" })
        </div>

        <div class="form-group row justify-content-center fromComponent">
            @Html.LabelFor(m => m.EngineCapacity, new { @class = "form-control input-sm col-3 formLabel contentText" })
            @Html.TextBoxFor(m => m.EngineCapacity, new { @class = "form-control input-sm col-6" })
        </div>

        <div class="form-group row justify-content-center fromComponent">
            @Html.LabelFor(m => m.TypeOfEngine, new { @class = "form-control input-sm col-3 formLabel contentText" })
            @Html.TextBoxFor(m => m.TypeOfEngine, new { @class = "form-control input-sm col-6" })
        </div>


        <div class="form-group row justify-content-center fromComponent">
            @Html.LabelFor(m => m.DescriptionOfProblem, new { @class = "form-control input-sm col-3 formLabel contentText" })
            @Html.TextBoxFor(m => m.DescriptionOfProblem, new { @class = "form-control input-sm col-6" })
            @Html.ValidationMessageFor(m => m.DescriptionOfProblem, null, new { @class = "col-8 contentText" })
        </div>


        <div class="form-group row justify-content-center contentText fromComponent">
            <input type="submit" value="Odeslat" class="btn btn-default" />
        </div>
    }
</div>